.plantListWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin: 0 auto;
  padding: 10px 0 100px;
  width: 80%;
}

.plantCard {
  box-shadow: 2px 3px 18px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: aliceblue;
  background-color: #cadef0;
}

.plantCard img {
  width: 70px;
  height: 70px;
  filter: drop-shadow(2px 4px 10px rgba(0, 0, 0, 0.7));
}

.plantCard p {
  font-size: 1.1rem;
  font-weight: 300;
  text-transform: capitalize;
  color: rgba(57, 57, 57, 0.701);
}
