nav {
  background-color: white;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  box-shadow: 0 3px 18px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  z-index: 9999;
}

.logo {
  font-size: 2rem;
}

.logo span {
  font-size: 0.8rem;
  display: block;
  color: rgb(166, 166, 166);
}
